name: Deploy to Cloud Run from Source

on:
  push:
    branches:
      - main

jobs:
  deploy:
    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v3'
        with:
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_SERVICE_ACCOUNT }}'

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v3
        with:
          service: ${{ vars.SERVICE }}
          region: ${{ vars.REGION }}
          source: ./
          env_vars: |-
            GCS_BUCKET_NAME=${{ secrets.GCS_BUCKET_NAME }}
            PROJECT_ID=${{ secrets.PROJECT_ID }}
            STORAGE_GOOGLE_APPLICATION_CREDENTIALS=${{ secrets.STORAGE_GOOGLE_APPLICATION_CREDENTIALS }}

      - name: Show Output
        run: echo ${{ steps.deploy.outputs.url }}
      

        
